src/main/java/vn/com/atomi/loyalty/eventgateway/service/NotificationService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2202="http://response.notification.ewallet.lpb.com/xsd" xmlns:ns="http://process.notification.ewallet.lpb.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax2198="http://request.notification.ewallet.lpb.com/xsd" xmlns:ax2199="http://common.entity.ewallet.lpb.com/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://process.notification.ewallet.lpb.com">
<wsdl:documentation> Please Type your service description here </wsdl:documentation>
<wsdl:types>
<xs:schema xmlns:ax2203="http://common.entity.ewallet.lpb.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://response.notification.ewallet.lpb.com/xsd">
<xs:import namespace="http://common.entity.ewallet.lpb.com/xsd"/>
<xs:complexType name="NotificationServiceResponse">
<xs:complexContent>
<xs:extension base="ax2203:Result">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:schema>
<xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.entity.ewallet.lpb.com/xsd">
<xs:complexType name="BaseHeader">
<xs:sequence>
<xs:element minOccurs="0" name="language" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="platform" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="platformVersion" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Header2">
<xs:complexContent>
<xs:extension base="ax2199:BaseHeader">
<xs:sequence>
<xs:element minOccurs="0" name="acquirerId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="actionCode" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="actionId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="appVersion" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="authorizedMode" type="xs:int"/>
<xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="businessProcess" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="callerPassword" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="callerUserName" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="cardNo" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="categoryCode" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="channelCode" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="checkerId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="checkerMode" type="xs:int"/>
<xs:element minOccurs="0" name="clientRequestId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="clientSessionId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="clientTime" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="collectLocationTime" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="custId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="custNo" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="deviceId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="deviceName" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="header" nillable="true" type="ax2199:Header2"/>
<xs:element minOccurs="0" name="ip" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="makerId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="merchantSiteCode" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="partnerCode" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="partnerRefNo" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="partnerSystem" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="productId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="providerCode" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="registrationId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="requestId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="signature" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="sourceId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="sourceType" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="sourceValues" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="systemCode" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="terminalId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="transId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="transTime" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="velocity" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="zonedClientTime" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="Result">
<xs:sequence>
<xs:element minOccurs="0" name="refId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="resultDesc" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:ax2201="http://request.notification.ewallet.lpb.com/xsd" xmlns:ax2204="http://response.notification.ewallet.lpb.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://process.notification.ewallet.lpb.com">
<xs:import namespace="http://request.notification.ewallet.lpb.com/xsd"/>
<xs:import namespace="http://response.notification.ewallet.lpb.com/xsd"/>
<xs:element name="receiveNotification">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="request" nillable="true" type="ax2201:NotificationServiceRequest"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="receiveNotificationResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="return" nillable="true" type="ax2202:NotificationServiceResponse"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
<xs:schema xmlns:ax2200="http://common.entity.ewallet.lpb.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://request.notification.ewallet.lpb.com/xsd">
<xs:import namespace="http://common.entity.ewallet.lpb.com/xsd"/>
<xs:complexType name="NotificationServiceRequest">
<xs:sequence>
<xs:element minOccurs="0" name="content" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="hashKey" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="header" nillable="true" type="ax2199:Header2"/>
<xs:element minOccurs="0" name="redirectType" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="redirectValue" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="shortContent" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="title" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="url" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="receiveNotificationRequest">
<wsdl:part name="parameters" element="ns:receiveNotification"/>
</wsdl:message>
<wsdl:message name="receiveNotificationResponse">
<wsdl:part name="parameters" element="ns:receiveNotificationResponse"/>
</wsdl:message>
<wsdl:portType name="NotificationServicePortType">
<wsdl:operation name="receiveNotification">
<wsdl:input message="ns:receiveNotificationRequest" wsaw:Action="urn:receiveNotification"/>
<wsdl:output message="ns:receiveNotificationResponse" wsaw:Action="urn:receiveNotificationResponse"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="NotificationServiceSoap11Binding" type="ns:NotificationServicePortType">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="receiveNotification">
<soap:operation soapAction="urn:receiveNotification" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="NotificationServiceSoap12Binding" type="ns:NotificationServicePortType">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="receiveNotification">
<soap12:operation soapAction="urn:receiveNotification" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="NotificationServiceHttpBinding" type="ns:NotificationServicePortType">
<http:binding verb="POST"/>
<wsdl:operation name="receiveNotification">
<http:operation location="receiveNotification"/>
<wsdl:input>
<mime:content type="text/xml" part="parameters"/>
</wsdl:input>
<wsdl:output>
<mime:content type="text/xml" part="parameters"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="NotificationService">
<wsdl:port name="NotificationServiceHttpSoap11Endpoint" binding="ns:NotificationServiceSoap11Binding">
<soap:address location="http://10.37.11.227:31137/transaction/services/NotificationService.NotificationServiceHttpSoap11Endpoint/"/>
</wsdl:port>
<wsdl:port name="NotificationServiceHttpSoap12Endpoint" binding="ns:NotificationServiceSoap12Binding">
<soap12:address location="http://10.37.11.227:31137/transaction/services/NotificationService.NotificationServiceHttpSoap12Endpoint/"/>
</wsdl:port>
<wsdl:port name="NotificationServiceHttpEndpoint" binding="ns:NotificationServiceHttpBinding">
<http:address location="http://10.37.11.227:31137/transaction/services/NotificationService.NotificationServiceHttpEndpoint/"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>